<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EconMP2Project</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>106560A055490455F3CD19BBAD6F3DFE8A9F0A88</string>
				<key>dateExpires</key>
				<string>12/6/22</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>EconMP2Project.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>72YYJ825DR</string>
				<key>name</key>
				<string>Seoukjun Kim</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
